{% include 'pervez/navbar.html' %}



<section class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 pb-24 pt-40 mx-auto">
        

        <a href="{% url 'notes' cls=7 %}">
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div>
                    <img src="https://cdn.pixabay.com/photo/2014/09/07/15/35/number-437925_960_720.jpg"  class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-900 text-indigo-500 flex-shrink-0" alt="">
                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-200 text-lg title-font font-medium mb-2">Class 7</h2>
                    <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                 
                </div>
            </div>
        </a>
        <a href="{% url 'notes' cls=8 %}">
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div>
                    <img src="  https://cdn.pixabay.com/photo/2015/09/05/07/17/pool-ball-923833_960_720.png"  class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-900 text-indigo-500 flex-shrink-0" alt="">
                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-200 text-lg title-font font-medium mb-2">Class 8</h2>
                    <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                 
                </div>
            </div>
        </a>
        <a href="{% url 'notes' cls=9 %}">
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div>
                    <img src="https://media.istockphoto.com/photos/countdown-picture-id530119033"  class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-900 text-indigo-500 flex-shrink-0" alt="">
                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-200 text-lg title-font font-medium mb-2">Class 9</h2>
                    <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                 
                </div>
            </div>
        </a>

        <a href="{% url 'notes' cls=10 %}">
            <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                <div>
                    <img src="https://cdn.pixabay.com/photo/2015/10/25/12/09/roman-numeral-1005700__340.jpg"  class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-900 text-indigo-500 flex-shrink-0" alt="">
                </div>
                <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                    <h2 class="text-gray-200 text-lg title-font font-medium mb-2">Class 10</h2>
                    <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan
                 
                </div>
            </div>
        </a>



        <button
            class="flex mx-auto mt-20 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><a href="{% url 'home-page' %}">Back to home page</a></button>
    </div>
</section>